@import "tailwindcss";

@font-face {
  font-family: 'Kinlove';
  src: url('/Kinlove.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to bottom, #fef3c7, #ffffff);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-kinlove {
  font-family: 'Kinlove', sans-serif;
}
